button.card-button {
  transition: transform .18s;
  transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
  transform: scale(1);
}
button.card-button:hover {
  transform: scale(1.2);
}
button.card-button.anchor-bottom:hover {
  transform: scale(1.2) translateY(-8%);
}